body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
     
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
 .title{
    text-align: center; 
}
.text-color{
    color: rgba(255, 71, 184, 0.973);
}
.text-size{
    font-size: 50px; 
    border-left: 6px solid tomato;
    border-radius: 5px;
    padding: 10px;
}
.half-width{
    width: 50%;
}
.pad{
    padding: 100px;
}
.half-width img{
    width: 80%;
}
.image{
    width: 70%;
    margin-left: 117px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(#df977e,rgb(255, 99, 71));
    color: wheat;
    padding: 10px 30px;
    border-radius: 5px;
}
#first-box{
    background: gray;
    margin: 5px;
    margin-bottom: 50px;
    padding: 20px; 
    border-radius: 10px;
}
#scend-box{
    background: burlywood;
    margin: 5px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
}
#thard-box{
    background: gainsboro;
    margin: 5px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
}
.images-size{
    height: 200px;
    width: 300px;
}
.baner-add{
    background-image: url(images/shapes/dream-bg.png);
    
    background-repeat: no-repeat;
    background-position:left;
}
.bg-baner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    
    background-size: 300px 300px;
    background-position-x: right;
    background-position-y: bottom;
}
#new-link{
    text-align: center;
}
#text-color-change{
    color: blue;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}
#footer-color{
    
    color: tomato;
}
